---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<EDAMAM_ID>&app_key=<EDAMAM_KEY>&from=0&q=28402850528ad&to=29
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "28402850528ad",
          "from" : 0,
          "to" : 29,
          "params" : {
            "sane" : [ ],
            "q" : [ "28402850528ad" ],
            "from" : [ "0" ],
            "app_key" : [ "<EDAMAM_KEY>" ],
            "to" : [ "29" ],
            "app_id" : [ "<EDAMAM_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Sat, 03 Nov 2018 15:49:18 GMT
recorded_with: VCR 4.0.0
