---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<EDAMAM_ID&app_key=<EDAMAM_TOKEN>&q=gibberishtest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "gibberishtest",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "gibberishtest" ],
            "app_key" : [ "<EDAMAM_TOKEN>" ],
            "app_id" : [ "<EDAMAM_ID" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Sat, 03 Nov 2018 16:27:42 GMT
[...]
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<EDAMAM_ID&app_key=<EDAMAM_TOKEN>&q=gibberishtest&to=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "gibberishtest",
          "from" : 0,
          "to" : 50,
          "params" : {
            "sane" : [ ],
            "q" : [ "gibberishtest" ],
            "app_key" : [ "<EDAMAM_TOKEN>" ],
            "to" : [ "50" ],
            "app_id" : [ "<EDAMAM_ID" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Sat, 03 Nov 2018 16:49:51 GMT
recorded_with: VCR 4.0.0
