---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<API_ID>&app_key=<API_KEY>&q=x999
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "x999",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "x999" ],
            "app_key" : [ "<API_KEY>" ],
            "app_id" : [ "<API_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Thu, 01 Nov 2018 04:59:57 GMT
recorded_with: VCR 4.0.0
