---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=398bf3f1&app_key=89efbe3d72902458d8f7526eb456041b&q=gibberishtest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "gibberishtest",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "gibberishtest" ],
            "app_key" : [ "89efbe3d72902458d8f7526eb456041b" ],
            "app_id" : [ "398bf3f1" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Wed, 31 Oct 2018 18:37:13 GMT
recorded_with: VCR 4.0.0
