---
http_interactions:
- request:
    method: post
    uri: https://api.edamam.com/search?app_id=<ID>&app_key=<KEY>
    body:
      encoding: UTF-8
      string: q=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "q" : "",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "" ],
            "app_key" : [ "<KEY>" ],
            "app_id" : [ "<ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Wed, 31 Oct 2018 23:34:14 GMT
recorded_with: VCR 4.0.0
