---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<EDAMAM_APP_ID>&app_key=<EDAMAM_APP_KEY>&from=0&q=&to=9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "",
          "from" : 0,
          "to" : 9,
          "params" : {
            "sane" : [ ],
            "q" : [ "" ],
            "from" : [ "0" ],
            "app_key" : [ "<EDAMAM_APP_KEY>" ],
            "to" : [ "9" ],
            "app_id" : [ "<EDAMAM_APP_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Wed, 31 Oct 2018 22:21:53 GMT
[...]
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<EDAMAM_APP_ID>&app_key=<EDAMAM_APP_KEY>&from=0&q=&to=600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "",
          "from" : 0,
          "to" : 100,
          "params" : {
            "sane" : [ ],
            "q" : [ "" ],
            "from" : [ "0" ],
            "app_key" : [ "<EDAMAM_APP_KEY>" ],
            "to" : [ "600" ],
            "app_id" : [ "<EDAMAM_APP_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Fri, 02 Nov 2018 00:43:59 GMT
recorded_with: VCR 4.0.0
