---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<APP_ID>&app_key=<APP_KEY>&from=0&q=zqb&to=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "zqb",
          "from" : 0,
          "to" : 50,
          "params" : {
            "sane" : [ ],
            "q" : [ "zqb" ],
            "from" : [ "0" ],
            "app_key" : [ "<APP_KEY>" ],
            "to" : [ "50" ],
            "app_id" : [ "<APP_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Mon, 05 Nov 2018 00:20:21 GMT
recorded_with: VCR 4.0.0
