---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<MUNCHER_TOKEN>&app_key=04c236eb15ab0bae3dd07c08766aa823&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "" ],
            "app_key" : [ "04c236eb15ab0bae3dd07c08766aa823" ],
            "app_id" : [ "<MUNCHER_TOKEN>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Wed, 31 Oct 2018 17:52:07 GMT
recorded_with: VCR 4.0.0
