---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<EDAMAM_ID>&app_key=<EDAMAM_KEY>&q=http://www.edamam.com/ontologies/edamam.owl%23recipe_00e89ef04a409f17dd01db6b92d83100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "http://www.edamam.com/ontologies/edamam.owl#recipe_00e89ef04a409f17dd01db6b92d83100",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "http://www.edamam.com/ontologies/edamam.owl#recipe_00e89ef04a409f17dd01db6b92d83100" ],
            "app_key" : [ "<EDAMAM_KEY>" ],
            "app_id" : [ "<EDAMAM_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Sun, 04 Nov 2018 18:06:58 GMT
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<EDAMAM_ID>&app_key=<EDAMAM_KEY>&q=http://www.edamam.com/ontologies/edamam.owl%23recipe_hello
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "http://www.edamam.com/ontologies/edamam.owl#recipe_hello",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "http://www.edamam.com/ontologies/edamam.owl#recipe_hello" ],
            "app_key" : [ "<EDAMAM_KEY>" ],
            "app_id" : [ "<EDAMAM_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Sun, 04 Nov 2018 18:06:59 GMT
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<EDAMAM_ID>&app_key=<EDAMAM_KEY>&q=http://www.edamam.com/ontologies/edamam.owl%23recipe_
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "http://www.edamam.com/ontologies/edamam.owl#recipe_",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "http://www.edamam.com/ontologies/edamam.owl#recipe_" ],
            "app_key" : [ "<EDAMAM_KEY>" ],
            "app_id" : [ "<EDAMAM_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Sun, 04 Nov 2018 18:06:59 GMT
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<EDAMAM_ID>&app_key=<EDAMAM_KEY>&q=http://www.edamam.com/ontologies/edamam.owl%23recipe_00e89ef04a409f17dd01db6b92d83100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "http://www.edamam.com/ontologies/edamam.owl#recipe_00e89ef04a409f17dd01db6b92d83100",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "q" : [ "http://www.edamam.com/ontologies/edamam.owl#recipe_00e89ef04a409f17dd01db6b92d83100" ],
            "app_key" : [ "<EDAMAM_KEY>" ],
            "app_id" : [ "<EDAMAM_ID>" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Sun, 04 Nov 2018 18:33:35 GMT
recorded_with: VCR 4.0.0
