

<form action="/recipes" method="get">
  <div>
    <label for="input">Enter your search term</label>
    <input id="input" name="input" type="text" placeholder="ex: chicken">
  </div>



  <input type="submit" value="Search Now">
</form>

<%= params.inspect %>
