<% require 'pry' %>
<section class="recipe-list">
  <h1>Recipes</h1>
  <% if @recipes %>
  <ul>
    <% @recipes.each do |recipe| %>
    <li>
      <%= link_to "#{recipe.id}",
      search_detail_path(recipe.label) %>

    </li>
    <li><%= image_tag "#{recipe.image}" %></li>
    <% end %>
  </ul>
  <% end %>
</section>
