<header class = "header">
  <h1>MUNCHER</h1>
</header>


<main class = "image-background">
  <%= render partial: "/layouts/form" %>
</main>


<footer>
  <div id="edamam-badge" data-color="white"></div>
</footer>
