<h1>Recipes</h1>

  <%= will_paginate @recipes %>
  <% if @recipes %>
  <div class="recipe-list">
  <div class="list">
    <% @recipes.each do |recipe| %>
    <div class="list">
      <%= link_to "#{recipe.id}",
      search_detail_path(recipe.label) %>
    </div>
    <div class="list"><%= image_tag "#{recipe.image}" %></div>
    <% end %>
  </div>
  <% end %>


</div>
