<h1 class="heading"> Find your Flavor.... </h1>

<div class="center">

<%= form_tag search_create_path, method: "post" do %>
  <%= label_tag(:keyword, "Enter a Keyword for receipe") %>
  <%= text_field_tag(:keyword) %>
  <%= submit_tag("Send") %>

<% end %>
</div>
