<section class = "search-page">

<!-- hamburger animation -->
<figure class = "burger-anim">
<!-- ====================================== -->
    <div class='center' id='burger'>
      <div class='bun top'></div>
      <div class='tomato'></div>
      <div class='cheese'></div>
      <div class='burger'></div>
      <div class='salad'></div>
      <div class='bun bottom'></div>
    </div>
    <div class='biteMe center'></div>
    <!-- =================================== -->
</figure>

<section class = "search-form">
    <%= form_tag recipes_index_path, method: "get" do %>
      <%= label_tag(:query, "") %>
      <%= text_field_tag(:query) %>
      <%= submit_tag( "forage", class: "btn btn-outline-primary" ) %>

    <% end %>
    </section>
</section>
