<ul>
  <% @recipes.each do |recipe| %>
  <li> <%= link_to image_tag(recipe.image), recipe.url%> </li>
  <li> <%= link_to recipe.label, search_recipe_path(recipe.uri.fragment), target: :blank  %> </li>
  <% end %>
</ul>

<%= will_paginate @recipes %>
