<section class="new-form-container">


  <div class="new-form-search-container">
    <div class="new-form-text-box">
      <h1>Let's get cooking</h1>
    </div>

    <div class="new-form-search">
      <%= render partial: '/layouts/search' %>
    </div>
  </div>

</section>
