<section class=homepage>

  <h3>welcome to munchbot</h3>
  <p></p>
  <p class= "text-center">
    <% 31.times do %>
    0101010101010101010101010101010
    <% end %>
    01010 beep beep boop boop 01010
    <% 30.times do %>
    0101010101010101010101010101010
    <% end %>
    01010 enter search term 0101010
    <% 30.times do %>
    0101010101010101010101010101010
    <% end %>
    0101010 end of message 10101010
    <% 50.times do %>
    0101010101010101010101010101010
    <% end %>
  </p>

</section>
