<h1>Recipe Finder</h1>
<%= form_tag recipe_index_path, method: :get do %>
<!-- # recipe_index_path, method: "get" do %> -->
<%= label_tag(:search_terms, "Enter Ingredient") %>
  <%= text_field_tag ( :search_terms ) %>
  <%= submit_tag ( "Search" ) %>
<% end %>
