<!DOCTYPE html>
<html>
<body>

  <section class="homepage">

    <h3>Welcome to Munchie!</h3>

    <%= form_tag(recipes_path, method: :get) do %>
    Recipe Search <%= text_field_tag :recipe %>
    <%= submit_tag 'Search' %>
    <% end %>

  </section>

  </body>
  </html>
