<% @body_class = "homepage" %>
<body class="splash">
<h1>Edemam</h1>

  <section><%= form_tag search_path, method: "get" do %>
  <%= label_tag(:search_term, "Hmm what sounds good...") %>
  <%= text_field_tag(:search_term) %>
  <%= submit_tag("Search") %>
  <% end %>
  </section>
</body>
