<section class="recipes-list">


  <h1><%= link_to "Recipes", recipes_homepage_path %></h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= link_to recipe.name, recipe_path(recipe.id) %>
          <%= image_tag recipe.image %>

        </li>
      <% end %>
    </ul>
  <% end %>

    <%= will_paginate @posts %>
</section>
