<h1>Recipes#index</h1>

<section class="recipes-list">
  <h2>Results for "<%= @query %>"</h2>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= link_to "#{recipe.label}", recipe_path(recipe.id) %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= will_paginate @recipes %>
</section>
