<div class="row is-flex">


  <section class="col-sm-4">
    <% @recipes.each do |recipe| %>
    <div class="box">
      <div class="card">
        <%= link_to image_tag(recipe.image), recipe_path(link: recipe.link) , alt: "photo of #{recipe.name}", class: "card-img-top"  %>
        <div class="card-body">
          <p><%= recipe.name %></p>
        </div>
      </div>
    </div>
    <% end %>
    <%= will_paginate @recipes %>
  </section>

</div>
