
<h1>Search Results: <%= @search %> </h1>

<div class="card-columns">
  <% if @recipes %>
      <% @recipes.each do |recipe| %>
        <div class="card" style="width: 15rem">
          <img src="<%= recipe.image %>" width="300" alt="<%= recipe.label %>" class="card-img-top">
          <%= link_to "#{recipe.label}", show_path(recipe.uri) %>
        </div>
      <% end %>
  <% end %>
</div>
