Results for "<%= @search_param.capitalize %>"
<section>
  <% if @recipes %>
  <% @recipes.each do |recipe| %>
  <a href="<%= recipes_show_path(recipe.id) %>" class="recipe-card-link">
    <ul>
      <li>
        <%= image_tag recipe.image %>
        <%= recipe.name %>
      </li>
    </ul>
  </a>
  <% end %>
  <% end %>
</section>
