<% if @recipes.any? %>

  <%= will_paginate @recipes, renderer: BootstrapPagination::Rails %>

<section class='recipes-container'>
  <% @recipes.each do |recipe| %>

    <div class="card shadow p-3 mb-5 bg-white rounded" style="width:18%">
      <%= link_to image_tag(recipe.image, alt: "#{recipe.label}", class: "card-img-top"), recipe_path(recipe.id) %>
      <div class="card-body">
        <h5 class="card-title"><%= recipe.label %></h5>
      </div>
    </div>

  <% end %>
<% else %>
  <h2>No results found.  Please search again!</h2>
<% end %>

</section>
<!-- enter your search terms above if no search was made (first visit) -->
<!-- no recipes found message if search comes back empty -->
