
<section class="recipes-list">
  <h1>Recipes for <%= "#{@search}" %></h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= link_to recipe.label, recipe_path(recipe.id)%>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
