<h1>Recipes</h1>
<%= will_paginate @recipes %>

<% if @recipes %>
  <ol>
    <% @recipes.each do |recipe| %>
      <li>
        <%=link_to recipe.name, recipe_path(recipe.id) %>
        <%= image_tag(recipe.image, alt: "recipe image") %>
      </li>

    <% end %>
  </ol>
<% end %>
