<section class="card-columns">
  <% @recipes.each do |recipe| %>
  <div class="card row-eq-height">
    <%= link_to image_tag(recipe.image), root_path, alt: "photo of #{recipe.name}", class: "card-img-top"  %>
    <div class="card-body">
      <p class="card-text"><%= recipe.name %></p>
    </div>
  </div>
  <% end %>
</section>
