

<% @recipes.each do |recipe| %>
  <li> <%= link_to "#{recipe.title}", recipe_show_path(recipe.recipe_id)  %> </li>
<% end %>

<%= will_paginate @recipe , renderer: RemoteLinkPagination::LinkRenderer %>
