<section class="channels-list">
  <h1>Recepies for <%=params[:message]%></h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <ul>
          <li><%=recipe.label%></li>
          <%#send to show page #%>
          <%=link_to 'Check recipe', recipes_show_path(recipe.id) %>
        </ul>
      <% end %>
    </ul>
  <% end %>
</section>
