
<% @recipes.each do |recipe| %>

<div class="card" style="width:400px">
  <%= link_to image_tag(recipe.image, alt: "#{recipe.label}", class: "card-img-top  "), recipe_path(recipe.id) %>
<div class="card-body">
  <h5 class="card-title"><%= recipe.label %></h5>
</div>

<% end %>
