<%= render partial: "header_search" %>

<section class="recipes-list">
  <h1>Results for <%= "#{@food_search.upcase}" %></h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= recipe.label %>
        </li>
      <% end %>
    <% else %>
      <p>
        No recipes match <%= "#{@food_search}" %>
      </p>
    </ul>
  <% end %>
</section>
