<h1>Recipes</h1>


<% if @recipes %>
<div class="container mx-auto">
  <!-- <div class="card-deck"> -->
  <% @recipes.each do |recipe| %>
    <div class="card bg-white shadow p-3 mb-5 bg-white rounded">
      <%= image_tag(recipe.image, alt: "recipe image", class: "card-img-top" ) %>
      <div class="card-body">
        <p class="card-title"><%=link_to recipe.name, recipe_path(recipe.id) %></p>
      </div>
    </div>
  <%end%>
  <!-- </div> -->
</div>
<% end %>

<%= will_paginate @recipes, class: "text-center" %>
