<div class="container">
<% unless @recipes.empty? %>

    <div class="row " >
      <% @recipes.each do |recipe| %>
          <div class="col-4 text-center align-items-center">
            <div class="product-grid6">
              <div class="product-image6 ">
                <%=link_to image_tag("#{recipe.image}", alt: "#{recipe.label} plated"), show_recipe_path(recipe.uri), class: "product-img thumbnail"%>
              </div>
              <div class="product-content">
                <h3 class="title"><%= recipe.label %></h3>
              </div>
              <% if !recipe.health.nil? %>
              <ul class="social">
                <%recipe.health.each do|h| %>
                  <li><a><i class="fa fa-cutlery fa-rotate-90" aria-hidden="true"><%= h %></i></a></li>
                <% end %>
              </ul>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>

  <%= will_paginate @recipes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
<% end %>
</div>


