<section>
  <h2>Search Results for <%="#{@food.capitalize}"%></h2>

  <% if @recipes %>
    <ul class="cards-container" style="width: 18rem;">
      <% @recipes.each do |recipe| %>
        <li class="card">
          <img class="card-img-top" src="<%= recipe.image %>" alt="Card image cap">

            <div class="card-body">
              <h5 class="card-title"><%= link_to "#{recipe.name}", recipe_path(recipe.uri) %></h5>
            </div>
        </li>
      <% end %>
    </ul>
  <% end %>

</section>
