<section>
  <h1>Search Results for <%="#{@food.capitalize}"%></h1>

  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= link_to "#{recipe.name}", recipe_path(recipe.uri) %>
          <img src="<%= recipe.image %>">
        </li>
      <% end %>
    </ul>
  <% end %>

</section>
