<h1>MUNCHER</h1>
<br />
<h3>Find your flavor!</h3>
<%= form_tag recipe_path(@search), method: "get" do %>
  <%= label_tag(:search, "Find your flavor") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Send") %>

<% end %>
