<div class= "search-wrapper">
<span><h1> Muncher </h1></span>
<%= render partial: 'layouts/search_bar'%>
  <span class="navbar-fixed-bottom">
    <footer id="edamam-badge" data-color="white"></footer></span>
</div>
