
<section class="index-page">

<h1 class="title"><strong>WELCOME TO MUNCHER</strong></h1>

 <%= form_tag recipe_list_path, method: "post" do %>
 <%= label_tag(:word, "Enter Food Item")%>
 <%= text_field_tag(:word)%>
 <%= submit_tag("SEARCH")%>
 <% end %>
</section>
