<div class= "search-wrapper">
<span><h1> Muncher </h1></span>
<%= form_with url: list_recipes_path, local: true do |form| %>
<span><%= form.label "Find your flavor..." %></span>
<span><%= form.text_field :dish, placeholder: "pasta con pesto" %></span>
<span><%= form.submit "Search", class: "btn btn-primary" %></span>
  <span class="navbar-fixed-bottom">
    <footer><div id="edamam-badge" data-color="white">
    </div></footer></span>
<% end %>
</div>
