<h1>Search for a Recipe</h1>

<%= form_tag search_path(@recipes), method: "post" do %>
  <%= label_tag(:label, "What flavors are you intersted in?") %>
  <%= text_field_tag(:label) %>
  <%= submit_tag("Search") %>

<% end %>
