<%= render partial: "form" %>

<section class= "error">
<h1 class="not_found"> 404 </h1>
  <h5 class="not_found"> Oops! The recipe you were looking for cannot be found. Maybe try a new search? </h5>
</section>
