<h2> Results for "<%= @query %>"</h2>


<ul>
<% @recipes.each do |recipe| %>
  <li>
    <%= image_tag recipe.photo, alt: recipe.name %>
    <%= link_to recipe.name, recipe_path(recipe.uri) %>
  </li>
<% end %>
</ul>
