<div class="container-fluid">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">

      <h1 class="root-head">MunchEase</h1>

      <div class="root-sub">
        <sub>The easy way to cure your munchies...</sub>
      </div>
      
      <%= render partial: "search_form" %>

    </div>
    <div class="col">
    </div>
  </div>
</div>
