<h1 id="root-pg-h1">Muncher</h1>
<h2 id="root-pg-h2">Find your flavor...</h2>
<section class="main-pg-error-msg">
  <% if !flash.empty? %>
  <%= flash[:error] %>
  <% end %>
</section>
<section class="root-pg-search">
  <%= render partial: "form", post: @search %>
</section>
