<h1>Recipe: <%= @recipe.label %></h1>
<p><a href="<%= @recipe.url %>" target="_blank">Open recipe in new window</a>
<p>Ingredients</p>
<p>
  <% @recipe.ingredients.each do |ingredient| %>
    <%= ingredient %><br>
  <% end %>
</p>
<p>Dietary Info</p>
<p>
  <% @recipe.health_info.each do |info| %>
    <%= info %><br>
  <% end %>
</p>
