<h2> <%= @recipe.label %></h2>

<section class="container">
  <h3 class="user-votes__header">Ingredients</h3>

  <div>
    <img src="#{@recipe.image}" alt="#{@recipe.label}">
    <div>

      <div>
        <ol>
          <% @recipe.each do |list| %>
          <li><%= list.ingredients %></li>
        </ol>
      </div>



      <div>
        <ol>
          <li><%= list.healthLabels %>
          </ol>
          <% end %>
        </div>
