<section class="recipes-list">
  <h1>Recipe <%= "#{@recipe.label}" %></h1>

    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
        <li>
          <%=ingredient%>
        </li>
      <% end %>
    </ul>
</section>
