<div id="wrap">
  <form action= "<%= recipe_searches_path %>" method="get" autocomplete="on">
    <input id="search" name="q" type="text" placeholder="I want a recipe for...">
    <input id="search_submit" value="Submit" type="submit">
  </form>
</div>
<h1>Welcome<br>to<br>Recipe<br>Muncher.</h1>
