<section class="hits">
  <h1>Search Results</h1>
  <% if @recipes %>

  <ul>
    <% @recipes.each do |recipe| %>
    <li>Recipe Title: <%= recipe.label %></li>
    <%= link_to recipe_path(recipe.id) do %>
    <%= image_tag(recipe.image, alt: "food-porn") %>
    <% end %>
    <% end %>
  </ul>
  <% end %>

</section>
