<div id="searchbar" class="mt-0">
  <form action= "<%= recipe_searches_path %>" method="get">
    <label for="search_text" id="search_label_home"></label>
    <input id="search_text" name="q" type="text" placeholder="I want a recipe for..." maxlength= 50 autocomplete="off" spellcheck="false">
    <input id="search_submit" value="Submit" type="submit">
  </form>
</div>
<h1>Welcome<br>to<br>Recipe<br>Muncher.</h1>
