<section class="recipes-list">
  <h1>Recipes</h1>
  <% if @recipes %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <% parsed_url = recipe.uri.partition('#').last %>
          <%= link_to recipe.uri, recipe_path(parsed_url) %>
          <%= recipe.label  %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
