<section class="channels-list">
  <h1>Recepies for <%=params[:message]%></h1>
  <% if @recepes %>
    <ul>
      <% @recepes.each do |recipe| %>
        <ul>
          <li><%=recipe.label%></li>
        </ul>
      <% end %>
    </ul>
  <% end %>
</section>
