<section class="channels-list">
  <h1>Recepies</h1>
  <% if @recepes %>
    <ul>
      <% @recepes.each do |recepie| %>
        <!-- <li>
          <%# link_to channel.name, chat_new_path(channel.name) %>
        </li> -->
      <% end %>
    </ul>
  <% end %>
</section>
