<form action="/recipes" method="get">
  <div class = "input-group">
    <label for="input">Enter your search term</label>

    <input id="input" name="input" type="text" placeholder="ex: chicken">


    <button type="button submit" class="btn btn-light">Search Now</button>
  </div>
</form>
