<form action="/recipes" method="get">
  <div class = "input-group">

    <input id="input" name="input" type="text" placeholder="enter your search term">

    <br>
    <button type="button submit" class="btn btn-light">Search Now</button>
  </div>
</form>
