<section class='header-container'>

  <div class="header-text">
   <a href="<%= root_path %>"><h1>MUNCHER</h1></a>
  </div>

  <div class="header-search-box">
    <%= render partial: '/layouts/search' %>
  </div>


</section>
