<div class="input-group">
<%= form_tag(search_recipes_path, method: "get", id: "search-form", class: "form-inline my-2 my-lg-0") do %>
  <%= text_field_tag :search, params[:search], placeholder: "What's for dinner?", class: 'form-control mr-sm-2' %>
  <span class="input-group-btn">
    <%= submit_tag "Search", class: 'btn btn-sm btn-outline-info' %>
  </span>
<% end %>
</div>
