<section class="search-bar">
  <%= link_to "MUNCHER", root_path, class: "muncher-link" %></h1>

  <%= form_tag recipe_results_path, method: "get" do %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
  <% end %>
</section>
