<h1>Api Error</h1>
<p><%= flash[:error] %></p>
<p>Edamam is probably throttling this free account. Pour yourself a glass of water, drink it all, and then try reloading the page.</p>
<img src="http://dailycrossstitch.com/wp-content/uploads/2014/03/Slow-Down-Illustraition.jpg" alt="Slow Down, Enjoy Life cross-stitch">
